 img {
   width: 100;
   height: 100;
 }

 .e {
   /* display: none; */
   background-color: rgb(255, 0, 179);
 }


 .w {

   background-color: rgba(65, 197, 60, 0.288);
 }

 .aa {
   margin: 50;
   background-color: rgb(255, 0, 179);
 }


 @media only screen and (max-width: 720px) {
.accordion {
      width: 90%;
     
   }
 }