  body {
      margin: 0;
      padding: 0;
      /* background-color: rgb(183, 230, 164); */

  }

  .www {
      /* background-color: rgba(250, 250, 250, 0.541); */
      background-color: rgb(146, 63, 112);
      /* display: none; */
  }

  .head {
      width: 100%;
      height: 50%;
      background-color: rgb(198, 113, 219);
  }

  .title {
      text-align: center;
      font-size: 75px;
      color: rgb(122, 217, 230);

  }

  .menu {
      margin-top: 1.5%;
      text-align: center;

  }

  .menu_bar {

      display: inline-table;
      text-align: center;

      margin: 4px 4px;

      padding: 5px 0px 5px 0px;

      width: 15%;
      height: 1em;

      color: rgb(0, 0, 0);
      border: 3px solid rgb(77, 221, 72);
      border-radius: 15px;
      font-size: 35px;
      margin-bottom: 2%;


  }

  .grid-container {
      display: grid;
      width: 95%;
      height: 10em;
      grid-template-columns: auto auto auto;


      grid-column-gap: 50px;



      background-color: #2196F3;


      margin: 15px 20px 15px 20px;

      padding: 5px 0px 5px 0px;
  }

  .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;

      margin: 4px 4px;

      padding: 5px 0px 5px 0px;
  }



  @media only screen and (max-width:576px) {


      .a1 {

          display: inline-table;
          position: relative;
          text-align: center;

          left: 15%;
          margin: 4px 4px;

          padding: 5px 0px 5px 0px;

          width: 22%;
          height: 25%;

          color: rgb(0, 0, 0);
          border: 3px solid rgb(77, 221, 72);
          border-radius: 15px;
          font-size: 20px;
          margin-bottom: 2%;


      }

  }